.imageInputContainer {
    width: 803px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 42%;
    left: 50%;
    border-radius: 7px;

    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;

    box-shadow: 3px 3px 3px #000;
}

.inputField {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textPrompt {
    font-size: 20px;
    color: #FFFFFF;
}

.detectBtn {
    background-color: #C850C0;
    color: #FFFFFF;
    font-weight: 600;
    border: none;

}